// Base colors
@base-color: #222;
@white: #fff;
@black: #000;
@metal-black: #333;
@dark-grey: #444;
@light-grey: #fbfbfb;
@light-black-transparent: rgba(49, 49, 49, 0.5);
@yellow: #ffd900;
@dark-yellow: #efcc00;
@gold-yellow: rgba(236, 188, 46, 1);
@tips-hover: #e4c201;
@news-hover: rgba(236, 188, 46, 0.75);