@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800);
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  color: #222;
  font-size: 62.5% !important;
  line-height: 1.4;
}
body {
  position: relative;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', 'Open Sans', sans-serif;
}
p {
  font-family: 'Open Sans', sans-serif;
}
img {
  width: 100%;
}
#page-container {
  width: 100%;
}
.container {
  max-width: 1200px;
  margin: auto;
}
.active a {
  color: #fff !important;
}
.active,
.active:hover {
  background-color: #efcc00 !important;
}
.is-active {
  height: 100% !important;
}
.visible:before {
  background-color: #ffffff !important;
}
.visible-img {
  opacity: 1 !important;
  visibility: visible !important;
}
.mobile-icon {
  width: 24px;
  display: block;
  margin: 0 auto;
}
.heading {
  position: relative;
  margin: 10px 0;
}
.heading h2 {
  font-size: 20px;
  font-size: 2rem;
  display: inline-block;
}
.heading span {
  position: absolute;
  right: 10px;
  bottom: 0;
  font-size: 12.8px;
  font-size: 1.28rem;
}
.group:after {
  content: "";
  display: table;
  clear: both;
}
/**
 * Global Reset of all HTML Elements
 *
 * Resetting all of our HTML Elements ensures a smoother
 * visual transition between browsers. If you don't believe me,
 * try temporarily commenting out this block of code, then go
 * and look at Mozilla versus Safari, both good browsers with
 * a good implementation of CSS. The thing is, all browser CSS
 * defaults are different and at the end of the day if visual
 * consistency is what we're shooting for, then we need to
 * make sure we're resetting all spacing elements.
 *
 */
html,
body {
  border: 0;
  font-family: "Helvetica-Neue", "Helvetica", Arial, sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
div,
span,
object,
iframe,
img,
table,
caption,
thead,
tbody,
tfoot,
tr,
tr,
td,
article,
aside,
canvas,
details,
figure,
hgroup,
menu,
nav,
footer,
header,
section,
summary,
mark,
audio,
video {
  border: 0;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cit,
code,
del,
dfn,
em,
ins,
q,
samp,
small,
strong,
sub,
sup,
b,
i,
hr,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
legend,
label {
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}
article,
aside,
canvas,
figure,
figure img,
figcaption,
hgroup,
footer,
header,
nav,
section,
audio,
video {
  display: block;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
table caption,
table th,
table td {
  text-align: left;
  vertical-align: middle;
}
a img {
  border: 0;
}
:focus {
  outline: 0;
}
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}
ul,
li {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
  display: inline-block;
}
a {
  text-decoration: none;
}
/* Grid */
.row,
.column {
  box-sizing: border-box;
}
.row:before,
.row:after {
  content: '';
  display: table;
}
.row:after {
  clear: both;
}
.column {
  position: relative;
  float: left;
}
.column + .column {
  margin-left: 1.6%;
}
.col-1 {
  width: 6.86666667%;
}
.col-2 {
  width: 15.33333333%;
}
.col-3 {
  width: 23.8%;
}
.col-4 {
  width: 32.26666667%;
}
.col-5 {
  width: 40.73333333%;
}
.col-6 {
  width: 49.2%;
}
.col-7 {
  width: 57.66666667%;
}
.col-8 {
  width: 66.13333333%;
}
.col-9 {
  width: 74.6%;
}
.col-10 {
  width: 83.06666667%;
}
.col-11 {
  width: 91.53333333%;
}
.col-12 {
  width: 100%;
}
.btn {
  color: #333;
  display: inline-block;
  cursor: pointer;
  font-size: 14px;
  font-size: 1.4rem;
  border: 1px solid #333;
  text-align: center;
}
.btn:hover {
  background: #333;
  color: #fff;
}
.btn-more {
  padding: 5px 10px;
}
.btn-load {
  padding: 0.5em 1em;
  white-space: nowrap;
  line-height: 1.4;
  position: absolute;
  bottom: 40px;
  left: 50%;
  -webkit-transform: translatex(-50%);
  -moz-transform: translatex(-50%);
  -ms-transform: translatex(-50%);
  -o-transform: translatex(-50%);
  transform: translatex(-50%);
  transition: width 0.1s ease, height 0.4s ease, border-width 0.4s ease, border-radius 0.4s ease, border-color 0.4s ease, padding 0.4s ease;
}
.btn-load:focus {
  outline: none;
  border-color: #DDD;
}
.btn-load.loading {
  height: 24px;
  width: 24px;
  padding: 0;
  border-width: 2px;
  border-radius: 17px;
  border-color: #eee #eee #eee #999;
  background: #fff;
  font-size: 0;
  color: transparent;
  pointer-events: none;
  animation: spin 1.2s infinite linear;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#top-nav {
  height: 29px;
  background-color: #ffd900;
}
.bottom-nav {
  background-color: #fff;
  width: 100%;
  height: 100%;
  position: relative;
}
.bottom-nav #logo-container {
  height: 100%;
  display: inline-block;
  width: 120px;
  position: absolute;
  top: 50%;
  left: 2%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.bottom-nav #logo-container #logo {
  width: 120px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto !important;
}
.bottom-nav #main-nav-container {
  overflow: hidden;
  display: inline-block;
  position: relative;
  height: 100%;
  float: right;
  right: 20px;
}
/* Mobile navigation */
#mobile {
  display: none;
  height: 100%;
  width: 100%;
}
#mobile .hamburger-container {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -50%;
  height: auto;
  margin: 0 auto;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
#mobile .hamburger-container .line-1,
#mobile .hamburger-container .line-2,
#mobile .hamburger-container .line-3 {
  background-color: #333;
  height: 3px;
  width: 47px;
  margin-bottom: 10px;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}
#mobile .hamburger-container .line-3 {
  margin-bottom: 0 !important;
}
#mobile .hamburger-container .line-1.is-clicked {
  transform: translateY(13px) rotate(45deg);
  transform-origin: center center;
}
#mobile .hamburger-container .line-2.is-clicked {
  transform: translateX(-100%);
  opacity: 0;
}
#mobile .hamburger-container .line-3.is-clicked {
  transform: translateY(-14px) rotate(-45deg);
  transform-origin: center center;
}
.menu-overlay {
  background-color: #333;
  color: #fff;
  height: 0;
  width: 100%;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  overflow: hidden;
  transition: 0.5s;
}
.menu-overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}
.menu-overlay-content li {
  display: block;
  padding: 8px;
  font-size: 36px;
  transition: 0.3s;
}
.menu-overlay-content li:hover {
  color: #f1f1f1;
}
.menu-overlay .closeBtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 45px;
  cursor: pointer;
}
/* Main navigation */
#main-nav {
  height: 100%;
}
#main-nav ul {
  font-size: 0;
  height: 100%;
}
#main-nav ul li {
  height: 100%;
}
#main-nav ul li:hover {
  background-color: rgba(239, 204, 0, 0.11);
  cursor: pointer;
}
#main-nav ul li a {
  font-family: 'Hind', Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 92px;
  font-style: none;
  color: #000;
  padding: 6px 12px;
}
/* Filter */
.event-filter-container {
  width: 40.5%;
}
.event-filter {
  width: 100%;
  display: table;
  margin: 20px 0;
  table-layout: fixed;
  background: #f1f1f1;
  border-radius: 4px;
  backface-visibility: hidden;
  padding: 0;
}
.event-filter ul {
  padding: 0;
  margin: 0;
}
.event-filter ul li {
  margin: 2px 1px;
  padding: 0;
  text-align: center;
  list-style: none;
  border-radius: 3px;
  display: inline-block;
  width: 28%;
}
.event-filter ul li a {
  display: block;
  padding: 17px 2px;
  line-height: 1px;
  border-radius: 3px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  font-size: 13px;
  color: #777;
}
.mobile-bottom-nav {
  padding: 10px 0;
}
.mobile-bottom-nav span {
  text-align: center;
}
.mobile-bottom-nav {
  visibility: hidden;
  background-color: #fff;
  z-index: 9999;
  transition: bottom 0.2s ease-out;
  border-top: 0.5px solid #b6c4cc;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
.mobile-bottom-nav ul {
  display: flex;
  justify-content: space-around;
  padding: 0 2.2rem;
  height: inherit;
  max-width: 80rem;
}
/* ////////////////////////////////////// */
/* //  INTRO SECTION                      */
/* ////////////////////////////////////// */
.jumbotron {
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('');
  padding: 150px 0;
}
.jumbotron .row {
  text-align: center;
}
.jumbotron-heading h1 {
  font-size: 56px;
  font-size: 5.6rem;
  line-height: 1.6;
  font-weight: 500;
  font-style: normal;
  color: #fff;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}
.jumbotron-heading h2 {
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: 400;
  font-style: normal;
  color: #fff;
  margin: 20px 0;
  font-family: 'Lato', 'sans-serif';
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}
#searchbar {
  position: relative;
  padding: 0 0 40px;
  margin: 2% 2%;
  width: 96.6%;
  text-align: center;
}
/* ////////////////////////////////////// */
/* //  CURRENT SECTION                    */
/* ////////////////////////////////////// */
#current-sec {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #fbfbfb;
}
#current-sec .current-heading {
  font-size: 12.8px;
  font-size: 1.28rem;
  display: inline-block;
}
#current-sec .column {
  margin: 0;
}
#current-sec .col-9 {
  margin-top: 15px;
}
#current-sec .col-3 {
  margin: 15px 0 0 0;
  padding: 0;
  float: right;
}
.service {
  color: #fff;
  height: 100px;
  width: 100%;
  margin: 8px auto;
  cursor: pointer;
  /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.12); */
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.12);
  -webkit-transition: border 0.3s;
  -moz-transition: border 0.3s;
  -ms-transition: border 0.3s;
  -o-transition: border 0.3s;
  transition: border 0.3s;
}
.service-content {
  padding: 15px 25px;
  background-color: #fff;
  color: #333;
}
.service-content h2 {
  font-size: 16px;
  font-size: 1.6rem;
  letter-spacing: 0.075rem;
}
.service-content p {
  font-size: 12.8px;
  font-size: 1.28rem;
  margin: 4px 0;
}
.service:hover {
  border-right: 10px solid gold;
}
.information-block {
  height: 100px;
  width: 100%;
  margin: 8px auto;
  cursor: pointer;
}
.information-block .information-block-content {
  color: #333;
  background-color: gold;
  padding: 50px 25px;
  margin-top: 35px;
}
.information-block .information-block-content h2 {
  font-size: 16px;
  font-size: 1.6rem;
  letter-spacing: 0.075rem;
  display: inline-block;
  border-bottom: 3px solid #222;
  padding-right: 20px;
  padding-bottom: 10px;
  margin-bottom: 15px;
}
.information-block .information-block-content p {
  font-size: 12.8px;
  font-size: 1.28rem;
  margin: 4px 0;
}
/* ////////////////////////////////////// */
/* //  INFO SECTION                      */
/* ////////////////////////////////////// */
.info-sec {
  margin: 60px 0 40px 0;
  /*
    .col-3 {
        background-color: #fbfbfb;
        text-align: center;
        padding: 15px;
        h2 {
            .font-size(1.7);
            font-weight: lighter;
            letter-spacing: 0.075rem;
        }
        span {
            border: 1.5px solid #333;
            padding: 15px;
            border-radius: 50%;
            display: inline-block;
            margin: 15px 0;
            .icon-info {
                width: 30px;
                height: 30px;
            }
        }
        .btn-more {
            margin: 20px 0;
        }
    }
    */
}
.info-sec-text {
  float: left;
  width: 21%;
  padding-left: 15px;
}
.info-sec-text h2 {
  font-weight: lighter;
  font-size: 4.2rem;
  line-height: 1.2;
  margin-top: 42px;
}
.info-sec-text h2 span {
  font-weight: bold;
  display: block;
}
.info-sec-text p {
  margin: 15px 0;
  font-size: 13px;
}
.info-sec-content {
  width: 79%;
  float: left;
  text-align: right;
}
.icon-info:before {
  content: '';
  padding: 10px;
}
/* ////////////////////////////////////// */
/* //  BLOCK SECTION                      */
/* ////////////////////////////////////// */
.block-sec {
  padding: 20px;
}
.block-sec .row {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  display: -webkit-box;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
}
.block-sec .row:first-of-type {
  margin: 0 0 100px 0;
}
.block-sec .row:last-of-type .block-sec-content {
  padding-left: 0;
  padding-right: 40px;
}
.block-sec .row .col-4 {
  background-color: #333;
  height: 282px;
  order: 2;
  background-image: url('../../img/t.jpg');
  background-size: cover;
  box-shadow: -1px 3px 16px #333;
}
.block-sec .row .col-4:first-of-type {
  order: 1;
  margin-left: 1%;
}
.block-sec .row .col-8 {
  order: 2;
}
.block-sec .row .col-8:last-of-type {
  padding-right: 40px;
  order: 1;
}
.block-sec .block-sec-content {
  padding: 20px 20px 20px 50px;
  margin-left: 1%;
}
.block-sec .block-sec-content h1 {
  color: #333;
  font-size: 20px;
  font-size: 2rem;
}
.block-sec .block-sec-content p {
  font-size: 12.8px;
  font-size: 1.28rem;
  margin: 20px 0;
}
.block-sec .block-sec-content .btn {
  padding: 5px 10px;
  border: 1px solid #333;
  display: inline-block;
}
/* ////////////////////////////////////// */
/* //  NEWS SECTION                    */
/* ////////////////////////////////////// */
/* ////////////////////////////////////// */
/* //  EVENT SECTION                      */
/* ////////////////////////////////////// */
.event-sec {
  padding: 40px 0;
}
.event-sec .heading h2 {
  padding: 0;
}
.event-sec h2 {
  /*         color: #000;
        padding: 10px 0;
        .font-size(2); */
}
.event-sec .col-12 {
  margin-bottom: 10px;
}
.event-sec .col-7 {
  margin-left: 0.6%;
}
.event-sec ul {
  padding: 10px 0;
}
.event-sec ul li {
  margin: 0 10px;
  font-size: 13px;
  font-size: 1.3rem;
  cursor: pointer;
}
.event {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  height: 125px;
  width: 100%;
  cursor: pointer;
}
.event:hover .event-img:after {
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 52%, rgba(0, 0, 0, 0.4) 100%);
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 52%, rgba(0, 0, 0, 0.4) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 52%, rgba(0, 0, 0, 0.4) 100%);
  opacity: 1;
}
.event:hover .event-body-supporting-bottom {
  opacity: 0;
  -webkit-transform: translateY(-8px);
  -moz-transform: translateY(-8px);
  -ms-transform: translateY(-8px);
  -o-transform: translateY(-8px);
  transform: translateY(-8px);
}
.event:hover .event-body-supporting-bottom-reveal {
  opacity: 1;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
.event:hover .event-body-top-icons {
  opacity: 1;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
.event .event-img-container {
  background: none;
  float: left;
  height: 100%;
  width: 35%;
  position: relative;
}
.event .event-img-container .event-img {
  background-position: center center;
  background-size: cover;
  height: 100%;
  background-image: url('../../img/event3.jpg');
}
.event .event-img-container .event-img:after {
  content: " ";
  display: block;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  z-index: 10;
}
.event .event-body {
  background-color: #fff;
  float: left;
  height: 100%;
  padding: 5px 15px;
  position: relative;
  width: 65%;
}
.event .event-body-top {
  display: block;
}
.event .event-body-top .subtle {
  color: #888;
  font-size: 12px;
  font-size: 1.2rem;
}
.event .event-body-top-icons {
  opacity: 0;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  position: absolute;
  right: 10px;
  top: 7px;
}
.event .event-body-top-icons svg {
  cursor: pointer;
  margin-left: 10px;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}
.event .event-body-top-icons svg:hover {
  fill: #444;
}
.event .event-body-heading {
  display: block;
  margin-top: 10px;
  font-size: 14.399999999999999px;
  font-size: 1.44rem;
  font-weight: bold;
  letter-spacing: 0.3px;
}
.event .event-body-supporting-bottom {
  position: absolute;
  bottom: 5px;
  left: 0;
  opacity: 1;
  padding: 0 15px;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  width: 100%;
}
.event .event-body-supporting-bottom-text {
  display: inline-block;
  font-size: 16px;
  font-size: 1.6rem;
}
.event .event-body-supporting-bottom-reveal {
  opacity: 0;
  -webkit-transform: translateY(8px);
  -moz-transform: translateY(8px);
  -ms-transform: translateY(8px);
  -o-transform: translateY(8px);
  transform: translateY(8px);
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  padding-right: 0;
}
.event .event-body-supporting-bottom-reveal .event-link {
  text-decoration: none;
  padding: 4px 10px;
  background: #444;
  color: #fff !important;
  font-size: 12.48px;
  font-size: 1.248rem;
  margin: 0 10px 5px 10px;
  float: right;
}
.event:first-of-type .event-img-container .event-img {
  background-image: url('../../img/event1.jpg');
}
.event:last-of-type .event-img-container .event-img {
  background-image: url('../../img/event2.jpg');
}
.event:nth-child(2) {
  margin: 44px 0;
}
/* .big-event {
    width: 48%;
    height: 426px;
    background-color: #fff;
    position: relative;
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
    position: relative;
} */
.big-event {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.6;
  overflow: hidden;
  position: relative;
  text-align: left;
  display: block;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
  /*     width: 49%; */
  /*     width: 25%; */
  width: 30%;
  float: right;
}
.big-event:hover .image {
  -webkit-transform: scale(1.15);
  -moz-transform: scale(1.15);
  -ms-transform: scale(1.15);
  -o-transform: scale(1.15);
  transform: scale(1.15);
  -webkit-transition: transform 500ms ease-in-out;
  -moz-transition: transform 500ms ease-in-out;
  -ms-transition: transform 500ms ease-in-out;
  -o-transition: transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out;
}
.big-event .image {
  max-height: 270px;
  overflow: hidden;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition: transform 500ms ease-in-out;
  -moz-transition: transform 500ms ease-in-out;
  -ms-transition: transform 500ms ease-in-out;
  -o-transition: transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out;
}
.big-event .image img {
  max-width: 100%;
}
.big-event .date {
  background-color: #fff;
  color: #333;
  font-size: 18px;
  font-size: 1.8rem;
  font-weight: 800;
  min-height: 48px;
  min-width: 48px;
  padding: 10px 0;
  position: absolute;
  right: 15px;
  text-align: center;
  text-transform: uppercase;
  top: 0;
}
.big-event .date span {
  display: block;
  line-height: 0.9;
}
.big-event .date .month {
  font-size: 11px;
  font-size: 1.1rem;
}
.big-event-content {
  padding: 10px 25px;
  background-color: #fff;
  color: #333;
  position: relative;
}
.big-event-content h3,
.big-event-content p {
  margin: 0;
  padding: 0;
}
.big-event-content h3 {
  font-weight: 800;
  letter-spacing: -0.4px;
  margin: 0 0 10px 0;
  font-size: 18px;
  font-size: 1.8rem;
}
.big-event-content p {
  /*             margin: 10px 0 25px 0; */
  font-size: 14px;
  font-size: 1.4rem;
}
.big-event:nth-child(1) {
  margin-left: 1.6%;
}
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  section {
    padding-left: 10px;
    padding-right: 10px;
  }
}
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  #main-nav {
    display: none;
  }
  #main-nav-container {
    width: 45px;
  }
  #mobile {
    display: block;
  }
  #jumbotron-heading {
    margin-top: 100px;
  }
  #searchbar-content {
    width: 82%;
  }
  #searchbar-background {
    width: 85%;
  }
  #current-sec .row {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-left: 5px;
    padding-right: 5px;
  }
  #current-sec .col-9 {
    order: 2;
    width: 100%;
    margin: 0;
    margin: 30px 0;
  }
  #current-sec .col-3 {
    width: 100%;
    order: 1;
    margin: 0 0 100px 0;
    padding: 0 10px;
  }
  #current-sec .col-3 ul {
    margin: 10px 0;
  }
  #current-sec .service {
    width: 48%;
    margin: 8px 8px;
  }
  .info-sec .col-3 {
    width: 49%;
    margin-top: 10px;
  }
  .info-sec-content {
    width: 100%;
    text-align: center;
  }
  .info-sec-text {
    margin: 0;
  }
  .block-sec {
    padding: 70px 10px;
  }
  .bottom-nav {
    height: 80px;
  }
  .bottom-nav #main-nav-container {
    overflow: hidden;
    right: 2%;
    display: inline-block;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .bottom-nav .hamburger-container {
    margin-top: 0;
  }
}
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  #logo {
    width: 95px !important;
  }
  .line-1,
  .line-2,
  .line-3 {
    width: 30px !important;
    margin-bottom: 6px !important;
  }
  #jumbotron-content {
    padding: 55px 0;
  }
  #jumbotron-content h1 {
    font-size: 1.8em;
    line-height: 36px;
  }
  #jumbotron-content h2 {
    margin: 0 0 24px;
    font-size: 0.7em;
  }
  #jumbotron-content #searchbar {
    width: 91%;
  }
  #jumbotron-content input {
    height: 37px;
  }
  #jumbotron-content #search-bg-content {
    display: none;
  }
  #current-sec .service {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  .block-sec {
    padding: 0 10px;
    margin: 0;
  }
  .block-sec .row {
    margin: 20px 0 !important;
  }
  .block-sec .col-4 {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .block-sec .col-4:last-of-type {
    order: 1;
  }
  .block-sec .col-8 {
    width: 100%;
    padding: 0 !important;
    margin: 0;
  }
  .block-sec .col-8:last-of-type {
    order: 2;
  }
  .block-sec-content {
    padding: 25px 0 !important;
  }
  .news-sec .news {
    min-width: 48%;
  }
  .event-sec {
    padding-left: 10px;
    padding-right: 10px;
  }
  .event-sec .col-7 {
    width: 100%;
    margin: 0;
  }
  .event-sec .col-12 {
    margin: 0;
  }
  .event-sec .col-12 h2,
  .event-sec .col-12 ul {
    margin-left: 10px;
  }
  .event-sec .big-event {
    width: 100%;
    margin: 0;
    position: relative;
  }
  .event-sec .big-event .col-7 {
    width: 100%;
  }
  .event-sec .big-event .big-event-img {
    background-position: 0;
    clip-path: none;
    shape-outside: none;
    width: inherit;
    min-width: inherit;
    shape-margin: 0;
    float: none;
    display: block;
  }
  .event-sec .big-event .big-event-text {
    position: absolute;
    top: 50px;
    height: 88%;
  }
  .event-sec .big-event .big-event-text h1 {
    margin-top: 55px;
    margin-bottom: 48px;
    color: #fff;
  }
  .event-sec .big-event .big-event-text p {
    color: #e0e0e0;
  }
  .event-sec .big-event .big-event-text .viewmore-button {
    right: 140px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 0.7em;
  }
  .event-sec .event-filter-container {
    width: 100%;
  }
  .event-sec .event-filter {
    width: 100%;
    display: table;
    margin: 20px 0;
    table-layout: fixed;
    background: #f1f1f1;
    border-radius: 4px;
    backface-visibility: hidden;
    padding: 0;
  }
  .event-sec .event-filter ul {
    padding: 0;
    margin: 0;
  }
  .event-sec .event-filter ul li {
    margin: 2px 1px;
    padding: 0;
    text-align: center;
    list-style: none;
    border-radius: 3px;
    display: inline-block;
    width: 32%;
  }
  .event-sec .event-filter ul li a {
    display: block;
    padding: 17px 2px;
    line-height: 1px;
    border-radius: 3px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    font-size: 13px;
    color: #777;
  }
  .events {
    width: 100%;
  }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .news-sec .col-4 {
    width: 100%;
  }
  .news-sec .col-4 .news {
    max-width: 100%;
    height: 250px;
  }
  .events .col-5 {
    width: 100%;
    padding: 0 10px;
    margin: 0;
  }
  .events .col-7 {
    width: 100%;
    padding: 0 10px;
    margin: 0;
  }
  article .inner {
    padding: 1em 1em 0 1em !important;
  }
  article .inner h2 {
    font-size: 2.5em;
    line-height: 40px;
    margin: 10px 0 !important;
  }
  article .inner p {
    font-size: 0.8em;
  }
  .banner .navbars {
    left: 20px;
  }
  .mobile-bottom-nav {
    visibility: visible;
  }
  .jumbotron {
    padding: 0;
  }
  .jumbotron #jumbotron-content h1 {
    font-size: 3.8rem;
  }
  .jumbotron #jumbotron-content h2 {
    font-size: 1.2rem;
  }
  #searchbar {
    margin: 2% auto;
  }
  #searchbar .searchbar-wrap {
    width: 82%;
  }
}
/* Custom, iPhone Retina */
.searchbar-wrap {
  width: 64%;
  overflow: hidden;
  border-radius: 3px;
  margin: 0 auto;
  position: relative;
}
.searchbar-wrap form {
  background: transparent;
  border: 0;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  outline: none;
}
.searchbar-wrap form input {
  padding-right: 53px;
  padding-left: 12px;
  border-radius: 3px;
  height: 54px;
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
  font-style: normal;
  width: 100%;
  background-color: #fff;
  border: none;
}
.searchbar-wrap form #btn-search {
  padding: 0;
  margin: 0;
  width: 50px;
  height: 100%;
  margin: auto !important;
  position: absolute;
  left: auto;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
  width: 53px;
  background-color: whitesmoke;
}
.searchbar-wrap form #btn-search #i {
  background: none;
  display: block;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  cursor: pointer;
  position: relative;
  border-width: 0;
  border-style: solid;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.searchbar-wrap form #btn-search #i:before {
  content: "";
  background: url('../../img/icons/search.png') no-repeat;
  background-size: contain;
  display: block;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#image-block-left {
  background-color: gold;
  width: 100%;
  height: 73%;
  position: absolute;
  z-index: -1;
  left: -15px;
  top: 14px;
}
#image-block-right {
  background-color: gold;
  position: absolute;
  width: 62%;
  height: 98%;
  z-index: -1;
  right: -10px;
  top: 33px;
}
.tabs-container {
  margin-top: 30px;
}
.tabs .service-info-block {
  text-align: center;
}
.tabs {
  -webkit-overflow-scrolling: touch;
  position: static;
}
.tabs .service-info-block {
  display: inline-block;
  padding: 8px;
  position: static;
  color: black;
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  cursor: pointer;
  vertical-align: top;
}
.tabs .service-info-block {
  text-align: center;
}
.element {
  background-color: #fbfbfb;
  min-height: 160px;
  -webkit-transition: box-shadow 0.3s;
  -moz-transition: box-shadow 0.3s;
  -ms-transition: box-shadow 0.3s;
  -o-transition: box-shadow 0.3s;
  transition: box-shadow 0.3s;
}
.element .circle {
  background-color: white;
  margin: auto;
  margin-top: 10px;
  height: 80px;
  width: 80px;
  border-radius: 90px;
}
.element h3 {
  margin: auto;
  min-height: 60px;
  padding-top: 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  display: block;
  text-transform: uppercase;
}
.element:hover {
  -webkit-box-shadow: 0px 5px 19px 3px rgba(61, 61, 61, 0.1);
  -moz-box-shadow: 0px 5px 19px 3px rgba(61, 61, 61, 0.1);
  box-shadow: 0px 5px 19px 3px rgba(61, 61, 61, 0.1);
}
.element img {
  margin-top: 50px;
  height: 33px;
  max-width: 40px;
}
.service-info-block {
  width: 16.66666667%;
}
.clearfix {
  padding: 0;
}
.clearfix:before {
  content: " ";
  display: table;
}
.clearfix:after {
  content: " ";
  display: table;
  clear: both;
}
/* New news */
.news-block {
  width: 50%;
  float: left;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.news-block:first-of-type {
  padding-right: 8px;
}
.news-block:last-of-type {
  padding-left: 8px;
}
.news_wrapper section {
  margin: 30px 0px;
}
.news_wrapper section article {
  padding-bottom: 0px;
  margin-bottom: 0px;
}
.news_wrapper section article img {
  margin-bottom: 15px;
  width: 100%;
  height: auto;
  max-height: 260.58px;
}
.news_wrapper section article h1 {
  /* font-family: Open Sans; */
  color: #260404;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
}
.news_wrapper section article .inner-content {
  /* font-family: Open Sans; */
  color: #666666;
  font-size: 12.8px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.5;
}
.news_wrapper section article a {
  /* font-family: Open Sans; */
  /* color: #260404; */
  color: #333;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
}
.news_wrapper section article .publish-date {
  font-size: 1rem;
  margin-top: 5px;
  display: block;
}
.news_wrapper .news-section-small article {
  font-size: 12px;
  margin-bottom: 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e8e8e8;
}
.news_wrapper .news-section-small article img {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
  float: left;
  margin-right: 15px;
  padding-bottom: 10px;
  margin-top: 1px;
  margin-bottom: 0;
  width: 20%;
  max-height: 70px;
}
.news_wrapper .news-section-small article .inner-content {
  font-family: Open Sans;
  color: #666666;
  font-size: 12.8px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.5;
  margin-left: 98px;
}
.news_wrapper .news-section-small article .inner-content h1 {
  font-size: 13px;
}
.news_wrapper .news-section-small article .inner-content h1 a {
  font-size: 13px;
}
.news_wrapper .news-section-small article:last-of-type {
  border-bottom: none;
}
