                  <!--
                  <li class="service">
                    <img src="https://images.pexels.com/photos/423335/pexels-photo-423335.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb" alt="" />
                    <div class="service-content">
                      <h2>Pudding dessert jelly fruitcake tart water candy chocolate.</h2>
                      <p>Lorem ipsum dolor sit amet</p>
                      <a href=""><div class="btn-more">View more</div></a>
                    </div>
                  </li>
                  <li class="service" >
                    <img src="https://images.pexels.com/photos/248459/pexels-photo-248459.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb" alt="" />
                    <div class="service-content">
                      <h2>Pudding dessert jelly fruitcake tart water candy chocolate.</h2>
                      <p>Lorem ipsum dolor sit amet</p>
                      <a href=""><div class="btn-more">View more</div></a>
                    </div>
                  </li>
                  <li class="service">
                    <img src="https://images.pexels.com/photos/326278/pexels-photo-326278.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb" alt="" />
                    <div class="service-content">
                      <h2>Pudding dessert jelly fruitcake tart water candy chocolate.</h2>
                      <p>Lorem ipsum dolor sit amet</p>
                      <a href=""><div class="btn-more">View more</div></a>
                    </div>
                  </li>
                   -->


                   
.service {
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid @light-grey;
    height: 100%;
    img {
        float: left;
        padding-right: 10px;
        width: 200px;
        object-fit: cover;
    }
    &-content {
        width: 46%;
        float: left;
        h2 {
        color: #444;
        // font-size: 1em;
        .font-size(1.6);
        font-weight: bold;
        border: none;
        padding: 0;
        margin: 0;
        }
        p {
            // font-size: 0.8em;
            .font-size(1.28px);
            margin: 5px 0;
        }
    }
    &:first-of-type {
      margin-top: 10px;
    }
}