.btn {
    color: #333;
    display: inline-block;
    cursor: pointer;
    .font-size(1.4);
    border: 1px solid #333;
    text-align: center;
    &:hover {
        background: #333;
        color: #fff;
    }
}

.btn-more {
    padding: 5px 10px;
}

.btn-load {
    padding: 0.5em 1em;
    white-space: nowrap;
    line-height: 1.4;
    position: absolute;
    bottom: 40px;
    left: 50%;
    .transform(translatex(-50%));
    transition: width 0.1s ease, height 0.4s ease, border-width 0.4s ease, border-radius 0.4s ease, border-color 0.4s ease, padding 0.4s ease;
    &:focus {
        outline: none;
        border-color: #DDD;
    }
    &.loading {
        height: 24px;
        width: 24px;
        padding: 0;
        border-width: 2px;
        border-radius: 17px;
        border-color: #eee #eee #eee #999;
        background: #fff;
        font-size: 0;
        color: transparent;
        pointer-events: none;
        animation: spin 1.2s infinite linear;
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}