/* Grid */

@col-count: 12;
@col-margin: 1.6%;
@col-width: ((100% - (@col-margin * (@col-count - 1))) / @col-count);
.row,
.column {
    box-sizing: border-box;
}

.row:before,
.row:after {
    content: '';
    display: table;
}

.row:after {
    clear: both;
}

.column {
    position: relative;
    float: left;
    +.column {
        margin-left: @col-margin;
    }
}

.calcColums(@i, @col-count) when (@i <=@col-count) {
    .col-@{i} {
        width: @col-width * @i + @col-margin * (@i - 1);
    }
    .calcColums(@i + 1, @col-count);
}

.calcColums(1, @col-count);