@import (reference) "../base/_mixins.less";
@import (reference) "../base/_variables.less";

#top-nav {
    height: 29px;
    background-color: @yellow;
}

.bottom-nav {
    background-color: @white;
    width: 100%;
    height: 100%;
    position: relative;
    #logo-container {
        height: 100%;
        display: inline-block;
        width: 120px;
        position: absolute;
        top: 50%;
        left: 2%;
        .transform(translateY(-50%));
        #logo {
            width: 120px;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto !important;
        }
    }
    #main-nav-container {
        overflow: hidden;
        display: inline-block;
        position: relative;
        height: 100%;
        float: right;
        right: 20px;
    }
}


/* Mobile navigation */

#mobile {
    display: none;
    height: 100%;
    width: 100%;
    .hamburger-container {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -50%;
        height: auto;
        margin: 0 auto;
        transform: translate(-50%, -50%);
        cursor: pointer;
        .line-1,
        .line-2,
        .line-3 {
            background-color: #333;
            height: 3px;
            width: 47px;
            margin-bottom: 10px;
            border-radius: 10px;
            transition: all 0.3s ease-in-out;
        }
        .line-3 {
            margin-bottom: 0 !important;
        } // When clicked
        .line-1.is-clicked {
            transform: translateY(13px) rotate(45deg);
            transform-origin: center center;
        }
        .line-2.is-clicked {
            transform: translateX(-100%);
            opacity: 0;
        }
        .line-3.is-clicked {
            transform: translateY(-14px) rotate(-45deg);
            transform-origin: center center;
        }
    }
}

.menu-overlay {
    //display: none;
    background-color: #333;
    color: #fff;
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    overflow: hidden;
    transition: 0.5s;
    &-content {
        position: relative;
        top: 25%;
        width: 100%;
        text-align: center;
        margin-top: 30px;
        li {
            display: block;
            padding: 8px;
            font-size: 36px;
            transition: 0.3s;
            &:hover {
                color: #f1f1f1;
            }
        }
    }
    .closeBtn {
        position: absolute;
        top: 20px;
        right: 45px;
        font-size: 45px;
        cursor: pointer;
    }
}


/* Main navigation */

#main-nav {
    height: 100%;
    ul {
        font-size: 0;
        height: 100%;
        li {
            height: 100%;
            &:hover {
                background-color: rgba(239, 204, 0, 0.11);
                cursor: pointer;
            }
            a {
                font-family: 'Hind', Arial, Helvetica, sans-serif;
                font-size: 16px;
                font-weight: 500;
                line-height: 92px;
                font-style: none;
                color: @black;
                padding: 6px 12px;
            }
        }
    }
}


/* Filter */

.event-filter-container {
    width: 40.5%;
}

.event-filter {
    width: 100%;
    display: table;
    margin: 20px 0;
    table-layout: fixed;
    background: #f1f1f1;
    border-radius: 4px;
    backface-visibility: hidden;
    padding: 0;
    ul {
        padding: 0;
        margin: 0;
    }
    ul li {
        margin: 2px 1px;
        padding: 0;
        text-align: center;
        list-style: none;
        border-radius: 3px;
        display: inline-block;
        width: 28%;
        a {
            display: block;
            padding: 17px 2px;
            line-height: 1px;
            border-radius: 3px;
            .transition(all .2s ease-in-out);
            font-size: 13px;
            color: #777;
        }
    }
}

.mobile-bottom-nav {
    padding: 10px 0;
    span {
        text-align: center;
    }
}

.mobile-bottom-nav {
    visibility: hidden;
    background-color: #fff;
    z-index: 9999;
    transition: bottom 0.2s ease-out;
    border-top: 0.5px solid #b6c4cc;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    ul {
        display: flex;
        justify-content: space-around;
        padding: 0 2.2rem;
        height: inherit;
        max-width: 80rem;
    }
}