@import (reference) "../base/_mixins.less";
@import (reference) "../base/_variables.less";

/* Large Devices, Wide Screens */

@media only screen and (max-width: 1200px) {
    section {
        padding-left: 10px;
        padding-right: 10px;
    }
}


/* Medium Devices, Desktops */

@media only screen and (max-width: 992px) {
    #main-nav {
        display: none;
    }
    #main-nav-container {
        width: 45px;
    }
    #mobile {
        display: block;
    }
    #jumbotron-heading {
        margin-top: 100px;
    }
    #searchbar-content {
        width: 82%;
    }
    #searchbar-background {
        width: 85%;
    }
    #current-sec {
        .row {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            padding-left: 5px;
            padding-right: 5px;
        }
        .col-9 {
            order: 2;
            width: 100%;
            margin: 0;
            margin: 30px 0;
        }
        .col-3 {
            width: 100%;
            order: 1;
            margin: 0 0 100px 0;
            padding: 0 10px;
            ul {
                margin: 10px 0;
            }
        }
        .service {
            width: 48%;
            margin: 8px 8px;
        }
    }
    .info-sec {
        .col-3 {
            width: 49%;
            margin-top: 10px;
        }
        &-content {
            width: 100%;
            text-align: center;
        }
        &-text {
            margin: 0;
        }
    }
    .block-sec {
        padding: 70px 10px;
    }
    .bottom-nav {
        height: 80px;
        #main-nav-container {
            overflow: hidden;
            right: 2%;
            display: inline-block;
            position: absolute;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            transform: translateY(-50%);
        }
        .hamburger-container {
            margin-top: 0;
        }
    }
}


/* Small Devices, Tablets */

@media only screen and (max-width: 768px) {
    #logo {
        width: 95px !important;
    }
    .line-1,
    .line-2,
    .line-3 {
        width: 30px !important;
        margin-bottom: 6px !important;
    }
    #jumbotron-content {
        padding: 55px 0;
        h1 {
            font-size: 1.8em;
            line-height: 36px;
        }
        h2 {
            margin: 0 0 24px;
            font-size: 0.7em;
        }
        #searchbar {
            width: 91%;
        }
        input {
            height: 37px;
        }
        #search-bg-content {
            display: none;
        }
    }
    #current-sec {
        .service {
            width: 100%;
            margin-left: 0;
            margin-right: 0;
        }
    }
    .block-sec {
        padding: 0 10px;
        margin: 0;
        .row {
            margin: 20px 0 !important;
        }
        .col-4 {
            width: 100%;
            padding: 0;
            margin: 0;
            &:last-of-type {
                order: 1;
            }
        }
        .col-8 {
            width: 100%;
            padding: 0 !important;
            margin: 0;
            &:last-of-type {
                order: 2;
            }
        }
        &-content {
            padding: 25px 0 !important;
        }
    }
    .news-sec {
        .news {
            min-width: 48%;
        }
    }
    .event-sec {
        padding-left: 10px;
        padding-right: 10px;
        .col-7 {
            width: 100%;
            margin: 0;
        }
        .col-12 {
            margin: 0;
            h2,
            ul {
                margin-left: 10px;
            }
        }
        .big-event {
            width: 100%;
            margin: 0;
            position: relative;
            .col-7 {
                width: 100%;
            }
            .big-event-img {
                background-position: 0;
                clip-path: none;
                shape-outside: none;
                width: inherit;
                min-width: inherit;
                shape-margin: 0;
                float: none;
                display: block;
            }
            .big-event-text {
                position: absolute;
                top: 50px;
                height: 88%;
                h1 {
                    margin-top: 55px;
                    margin-bottom: 48px;
                    color: #fff;
                }
                p {
                    color: #e0e0e0;
                }
                .viewmore-button {
                    right: 140px;
                    padding-left: 30px;
                    padding-right: 30px;
                    font-size: 0.7em;
                }
            }
        }
        .event-filter-container {
            width: 100%;
        }
        .event-filter {
            width: 100%;
            display: table;
            margin: 20px 0;
            table-layout: fixed;
            background: #f1f1f1;
            border-radius: 4px;
            backface-visibility: hidden;
            padding: 0;
            ul {
                padding: 0;
                margin: 0;
            }
            ul li {
                margin: 2px 1px;
                padding: 0;
                text-align: center;
                list-style: none;
                border-radius: 3px;
                display: inline-block;
                width: 32%;
                a {
                    display: block;
                    padding: 17px 2px;
                    line-height: 1px;
                    border-radius: 3px;
                    .transition(all .2s ease-in-out);
                    font-size: 13px;
                    color: #777;
                }
            }
        }
    }
    .events {
        width: 100%;
    }
}


/* Extra Small Devices, Phones */

@media only screen and (max-width: 480px) {

    .news-sec {
        .col-4 {
            width: 100%;
            .news {
                max-width: 100%;
                height: 250px;
            }
        }
    }
    .events {
        .col-5 {
            width: 100%;
            padding: 0 10px;
            margin: 0;
        }
        .col-7 {
            width: 100%;
            padding: 0 10px;
            margin: 0;
        }
    }
    article .inner {
        padding: 1em 1em 0 1em !important;
        h2 {
            font-size: 2.5em;
            line-height: 40px;
            margin: 10px 0 !important;
        }
        p {
            font-size: 0.8em;
        }
    }
    .banner .navbars {
        left: 20px;
    }
    .mobile-bottom-nav {
        visibility: visible;
    }

    .jumbotron {
        padding: 0;
        #jumbotron-content {
            h1 {
                font-size: 3.8rem;
            }
            h2 {
                font-size: 1.2rem;
            }
        }
    }

    #searchbar {
        margin: 2% auto;
        .searchbar-wrap {
            width: 82%;
        }
    }
}


/* Custom, iPhone Retina */

@media only screen and (max-width: 320px) {}