@import (reference) "../base/_mixins.less";
@import (reference) "../base/_variables.less";


/* ////////////////////////////////////// */
/* //  INTRO SECTION                      */
/* ////////////////////////////////////// */

.jumbotron {
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('');
    padding: 150px 0;
    .row {
        text-align: center;
    }
}

.jumbotron-heading {
    h1 {
        .font-size(5.6);
        line-height: 1.6;
        font-weight: 500;
        font-style: normal;
        color: #fff;
        margin-bottom: 20px;
        text-shadow: 2px 2px 4px rgba(0,0,0,.25);
    }
    h2 {
        .font-size(1.6);
        font-weight: 400;
        font-style: normal;
        color: #fff;
        margin: 20px 0;
        font-family: 'Lato', 'sans-serif';
        text-shadow: 2px 2px 4px rgba(0,0,0,.25);
    }
}

#searchbar {
    position: relative;
    padding: 0 0 40px;
    margin: 2% 2%;
    width: 96.6%;
    text-align: center;
}


/* ////////////////////////////////////// */
/* //  CURRENT SECTION                    */
/* ////////////////////////////////////// */

#current-sec {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: @light-grey;
    .current-heading {
        .font-size(1.28);
        display: inline-block;
    }
    .column {
        margin: 0;
    }
    .col-9 {
        margin-top: 15px;
    }
    .col-3 {
        margin: 15px 0 0 0;
        padding: 0;
        float: right;
    }
}

.service {
    color: @white;
    height: 100px;
    width: 100%;
    margin: 8px auto;
    cursor: pointer;
    /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.12); */
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.12);
    .transition(border 0.3s);
    &-content {
        padding: 15px 25px;
        background-color: #fff;
        color: #333;
        h2 {
            .font-size(1.6);
            letter-spacing: 0.075rem;
        }
        p {
            .font-size(1.28);
            margin: 4px 0;
        }
    }
    &:hover {
        border-right: 10px solid gold;
    }
}

.information-block {
    height: 100px;
    width: 100%;
    margin: 8px auto;
    cursor: pointer;
    .information-block-content{
        color: #333;
        background-color: gold;
        padding: 50px 25px;
        margin-top: 35px;
        h2 {
            .font-size(1.6);
            letter-spacing: 0.075rem;
            display: inline-block;
            border-bottom: 3px solid #222;
            padding-right: 20px;
            padding-bottom: 10px;
            margin-bottom: 15px;
        }
        p {
            .font-size(1.28);
            margin: 4px 0;
        }
    }
}

/* ////////////////////////////////////// */
/* //  INFO SECTION                      */
/* ////////////////////////////////////// */

.info-sec {
    margin: 60px 0 40px 0;
    /*
    .col-3 {
        background-color: #fbfbfb;
        text-align: center;
        padding: 15px;
        h2 {
            .font-size(1.7);
            font-weight: lighter;
            letter-spacing: 0.075rem;
        }
        span {
            border: 1.5px solid #333;
            padding: 15px;
            border-radius: 50%;
            display: inline-block;
            margin: 15px 0;
            .icon-info {
                width: 30px;
                height: 30px;
            }
        }
        .btn-more {
            margin: 20px 0;
        }
    }
    */
    &-text {
        float: left;
        width: 21%;
        padding-left: 15px;
        h2 {
            font-weight: lighter;
            font-size: 4.2rem;
            line-height: 1.2;
            margin-top: 42px;
            span {
               font-weight: bold;
               display: block;

            }
        }
        p {
          margin: 15px 0;
          font-size: 13px;
        }
    }
    &-content {
        width: 79%;
        float: left;
        text-align: right;
    }
}

.icon-info:before {
    content: '';
    padding: 10px;
}


/* ////////////////////////////////////// */
/* //  BLOCK SECTION                      */
/* ////////////////////////////////////// */

.block-sec {
    padding: 20px;
    .row {
        display: -moz-flex;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        display: -webkit-box;
        flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        &:first-of-type {
            margin: 0 0 100px 0;
        }
        &:last-of-type {
            .block-sec-content {
                padding-left: 0;
                padding-right: 40px;
            }
        }
        .col-4 {
            background-color: #333;
            height: 282px;
            order: 2;
            background-image: url('../../img/t.jpg');
            background-size: cover;
            box-shadow: -1px 3px 16px #333;
            &:first-of-type {
                order: 1;
                margin-left: 1%;
            }
        }
        .col-8 {
            order: 2;
            &:last-of-type {
                padding-right: 40px;
                order: 1;
            }
        }
    }
    .block-sec-content {
        padding: 20px 20px 20px 50px;
        margin-left: 1%;
        h1 {
            color: #333;
            .font-size(2);
        }
        p {
            .font-size(1.28);
            margin: 20px 0;
        }
        .btn {
            padding: 5px 10px;
            border: 1px solid #333;
            display: inline-block;
        }
    }
}


/* ////////////////////////////////////// */
/* //  NEWS SECTION                    */
/* ////////////////////////////////////// */



/* ////////////////////////////////////// */
/* //  EVENT SECTION                      */
/* ////////////////////////////////////// */

.event-sec {
    padding: 40px 0;
    .heading {
        h2 {
            padding: 0;
        }
    }
    h2 {
/*         color: #000;
        padding: 10px 0;
        .font-size(2); */
    }
    .col-12 {
        margin-bottom: 10px;
    }
    .col-7 {
        margin-left: 0.6%;
    }
    ul {
        padding: 10px 0;
        li {
            margin: 0 10px;
            .font-size(1.3);
            cursor: pointer;
        }
    }
}

.event {
    .border-radius(2px);
    // box-shadow: 0 2px 8px rgba(0, 0, 0, .12);
    height: 125px;
    // margin-bottom: 25px;
    // .transition(all 300ms ease-out);
    width: 100%;
    cursor: pointer;
    &:hover {
        .event-img {
            &:after {
                background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 52%, rgba(0, 0, 0, 0.4) 100%);
                background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 52%, rgba(0, 0, 0, 0.4) 100%);
                background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 52%, rgba(0, 0, 0, 0.4) 100%);
                opacity: 1;
            }
        }
        .event-body-supporting-bottom {
            opacity: 0;
            .transform(translateY(-8px));
        }
        .event-body-supporting-bottom-reveal {
            opacity: 1;
            .transform(translateY(0));
        }
        .event-body-top-icons {
            opacity: 1;
            .transform(translateY(0));
        }
    }
    .event-img-container {
        background: none;
        float: left;
        height: 100%;
        width: 35%;
        position: relative;
        .event-img {
            background-position: center center;
            background-size: cover;
            height: 100%;
            background-image: url('../../img/event3.jpg');
            &:after {
                content: " ";
                display: block;
                height: 100%;
                left: 0;
                opacity: 0;
                position: absolute;
                right: 0;
                top: 0;
                .transition(all 300ms ease-out);
                z-index: 10;
            }
        }
    }
    .event-body {
        background-color: @white;
        float: left;
        height: 100%;
        padding: 5px 15px;
        position: relative;
        width: 65%;
        &-top {
            display: block;
            .subtle {
                color: #888;
                .font-size(1.2);
            }
            &-icons {
                opacity: 0;
                .transition(all 300ms ease-out);
                position: absolute;
                right: 10px;
                top: 7px;
                svg {
                    cursor: pointer;
                    margin-left: 10px;
                    .transition(all 300ms ease-out);
                    &:hover {
                        fill: @dark-grey;
                    }
                }
            }
        }
        &-heading {
            display: block;
            margin-top: 10px;
            .font-size(1.44);
            font-weight: bold;
            letter-spacing: 0.3px;
        }
        &-supporting-bottom {
            position: absolute;
            bottom: 5px;
            left: 0;
            opacity: 1;
            padding: 0 15px;
            .transition(all 300ms ease-out);
            width: 100%;
            &-text {
                display: inline-block;
                .font-size(1.6);
            }
        }
        &-supporting-bottom-reveal {
            opacity: 0;
            .transform(translateY(8px));
            .transition(all 300ms ease-out);
            padding-right: 0;
            .event-link {
                text-decoration: none;
                padding: 4px 10px;
                background: @dark-grey;
                color: @white !important;
                .font-size(1.248);
                margin: 0 10px 5px 10px;
                float: right;
            }
        }
    }
    &:first-of-type {
        .event-img-container {
            .event-img {
                background-image: url('../../img/event1.jpg');
            }
        }
    }
    &:last-of-type {
        .event-img-container {
            .event-img {
                background-image: url('../../img/event2.jpg');
            }
        }
    }
    &:nth-child(2) {
        margin: 44px 0;
    }
}

/* .big-event {
    width: 48%;
    height: 426px;
    background-color: #fff;
    position: relative;
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
    position: relative;
} */


.big-event {
    //box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);;
    font-family: 'Open Sans', Arial, sans-serif;
    .font-size(1.6);
    line-height: 1.6;
    overflow: hidden;
    position: relative;
    text-align: left;
    display: block;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
/*     width: 49%; */
/*     width: 25%; */
    width: 30%;
    float: right;
    &:hover {
        .image {
            .transform(scale(1.15));
            .transition(transform 500ms ease-in-out);
        }
    }
    // a {
    //    left: 0;
    //    right: 0;
    //    top: 0;
    //    bottom: 0;
    //    position: absolute;
    //    z-index: 1;
    // }
    .image {
        max-height: 270px;
        overflow: hidden;
        .transform(scale(1));
        .transition(transform 500ms ease-in-out);
        img {
            max-width: 100%;
        }
    }
    .date {
        background-color: @white;
        color: @metal-black;
        .font-size(1.8);
        font-weight: 800;
        min-height: 48px;
        min-width: 48px;
        padding: 10px 0;
        position: absolute;
        right: 15px;
        text-align: center;
        text-transform: uppercase;
        top: 0;
        span {
            display: block;
            line-height: 0.9;
        }
        .month {
            .font-size(1.1);
        }
    }
    &-content {
        padding: 10px 25px;
        background-color: #fff;
        color: #333;
        position: relative;
        h3,
        p {
            margin: 0;
            padding: 0;
        }
        h3 {
            font-weight: 800;
            letter-spacing: -0.4px;
            margin: 0 0 10px 0;
            .font-size(1.8);
        }
        p {
/*             margin: 10px 0 25px 0; */
            .font-size(1.4);
        }
    }
    // a {
    //    left: 0;
    //    right: 0;
    //    top: 0;
    //    bottom: 0;
    //    position: absolute;
    //    z-index: 1;
    // }
    &:nth-child(1) {
        margin-left: 1.6%;
    }
}
