@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800);
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
@import "./base/_mixins.less";
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    color: @base-color; // font-size: 1em;
    font-size: 62.5% !important; // 10px, 62.5% of 16px
    line-height: 1.4;
}

body {
    position: relative;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Lato', 'Open Sans', sans-serif;
}

p {
    font-family: 'Open Sans', sans-serif;
}

img {
    width: 100%;
}

#page-container {
    width: 100%;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.active {
    a {
        color: #fff !important;
    }
}

.active,
.active:hover {
    background-color: @dark-yellow !important;
}

.is-active {
    height: 100% !important;
}

.visible {
    &:before {
        background-color: rgba(255, 255, 255, 1) !important;
    }
}

.visible-img {
    opacity: 1 !important;
    visibility: visible !important;
}

.mobile-icon {
    width: 24px;
    display: block;
    margin: 0 auto;
}

.heading {
    position: relative;
    margin: 10px 0;
    h2 {
        .font-size(2);
        display: inline-block;
    }
    span {
        position: absolute;
        right: 10px;
        bottom: 0;
        .font-size(1.28);
    }
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

@import "./base/_reset.less";
@import "./base/_variables.less";
@import "./base/_mixins.less";
@import "./components/_grid.less";
@import "./components/_buttons.less";
@import "./components/_navigation.less";
@import "./components/_sections.less";
@import "./components/_responsive.less";

.searchbar-wrap {
    width: 64%;
    overflow: hidden;
    // box-shadow: 0px 0px 0px 10px rgba(49,49,49,0.5);
    border-radius: 3px;
    margin: 0 auto;
    position: relative;
    form {
        background: transparent;
        border: 0;
        margin: 0;
        padding: 0;
        vertical-align: baseline;
        outline: none;
        input {
            padding-right: 53px;
            padding-left: 12px;
            border-radius: 3px;
            height: 54px;
            font-size: 16px;
            line-height: 22px;
            font-weight: normal;
            font-style: normal;
            width: 100%;
            background-color: #fff;
            border: none;
        }
        #btn-search {
            padding: 0;
            margin: 0;
            width: 50px;
            height: 100%;
            margin: auto !important;
            position: absolute;
            left: auto;
            right: 0;
            top: 0;
            bottom: 0;
            overflow: hidden;
            width: 53px;
            // background-color: #ff4d58;
            background-color: whitesmoke;
            #i {
                background: none;
                display: block;
                width: 100%;
                height: 100%;
                padding: 0;
                margin: 0;
                cursor: pointer;
                position: relative;
                border-width: 0;
                border-style: solid;
                -webkit-box-shadow: none;
                box-shadow: none;
                &:before {
                    content: "";
                    background: url('../../img/icons/search.png') no-repeat;
                    background-size: contain;
                    display: block;
                    width: 15px;
                    height: 15px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform:translate(-50%,-50%);
                }
            }
        }
    }

}

#image-block-left {
    background-color: gold;
    width: 100%;
    height: 73%;
    position: absolute;
    z-index: -1;
    left: -15px;
    top: 14px;
}

#image-block-right {
    background-color: gold;
    position: absolute;
    width: 62%;
    height: 98%;
    z-index: -1;
    right: -10px;
    top: 33px;
}

.tabs-container {
  margin-top: 30px;
}

.tabs .service-info-block {
  text-align: center;
}

.tabs {
  -webkit-overflow-scrolling: touch;
  position: static;
}

.tabs .service-info-block {
  display: inline-block;
  padding: 8px;
  position: static;
  color: black;
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  cursor: pointer;
  vertical-align: top;
}

.tabs .service-info-block {
  text-align: center;
}

.element {
  background-color: #fbfbfb;
  min-height: 160px;
  .transition(box-shadow 0.3s);
}

.element .circle {
  background-color: white;
  margin: auto;
  margin-top: 10px;
  height: 80px;
  width: 80px;
  border-radius: 90px;
}

.element h3 {
  display: block;
  margin: auto;
  min-height: 60px;
  padding-top: 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  display: block;
  text-transform: uppercase;
}

.element:hover {
  -webkit-box-shadow: 0px 5px 19px 3px rgba(61, 61, 61, 0.1);
  -moz-box-shadow: 0px 5px 19px 3px rgba(61, 61, 61, 0.1);
  box-shadow: 0px 5px 19px 3px rgba(61, 61, 61, 0.1);
}

.element img {
  margin-top: 50px;
  height: 33px; // 25px
  max-width: 40px;
}

.service-info-block {
    width: 16.66666667%;
}

.clearfix {
    padding: 0;
    &:before {
        content: " ";
        display: table;
    }
    &:after {
        content: " ";
        display: table;
        clear: both;
    }
}


/* New news */

.news-block {
    width: 50%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    &:first-of-type {
        padding-right: 8px;
    }
    &:last-of-type {
        padding-left: 8px;
    }
}

.news_wrapper {
    section {
       margin: 30px 0px;
       article {
         padding-bottom: 0px;
         margin-bottom: 0px;
         img {
            margin-bottom: 15px;
            width: 100%;
            height: auto;
            max-height: 260.58px;
         }
        h1 {         
            /* font-family: Open Sans; */
            color: #260404;
            font-size: 16px;
            font-weight: bold;
            font-style: normal;
        }
        .inner-content {    
            /* font-family: Open Sans; */
            color: #666666;
            font-size: 12.8px;
            font-weight: normal;
            font-style: normal;
            line-height: 1.5;
        }
        a {
            /* font-family: Open Sans; */
            /* color: #260404; */
            color: #333;
            font-size: 16px;
            font-weight: bold;
            font-style: normal;
        }
        .publish-date {
            font-size: 1rem;
            margin-top: 5px;
            display: block;
        }
       }
    }
    .news-section-small {
        article {
            font-size: 12px;
            margin-bottom: 15px;
            padding-bottom: 10px;
            border-bottom: 1px solid #e8e8e8;
            img { 
                vertical-align: middle;
                max-width: 100%;
                height: auto;
                float: left;
                margin-right: 15px;
                padding-bottom: 10px;
                margin-top: 1px;
                margin-bottom: 0;
                width: 20%;
                max-height: 70px;
            }
            .inner-content {
                font-family: Open Sans;
                color: #666666;
                font-size: 12.8px;
                font-weight: normal;
                font-style: normal;
                line-height: 1.5;
                margin-left: 98px;
                h1 {
                    font-size: 13px;
                    a {
                        font-size: 13px;
                    } 
                }
            }
            &:last-of-type {
                border-bottom: none;
            }
        }
    }
}